
.redes-sociais{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    
}
.endereco-local{
    
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.endereco-texto p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-left: 30px;
    font-size: 3.0vw;
    width: 80%;
    color: #E1E8ED;
}

.info-redes{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 10px;
}
.icones{
    display: flex;
    align-items: center;
    
}

.icones p{
    padding-left: 10px;
    font-size: 3.0vw;
    font-family: 'Open Sans', sans-serif;
    color: #E1E8ED;
}
.baloon{
    margin-left: 20px;
}
.map{
    margin-right: 20px;
}


@media (max-width: 668px) {
    .baloon{
        margin-left: 0px;
    }
    .map{
        margin-right: 0px;
    }
    .redes-sociais {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .endereco-local{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .endereco-texto p{
        padding-left: 0px;
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 600;
    }

  }

  @media (max-width: 304px) {
    .baloon {
        
        width: 200px;
        height: 200px;
    }
    .map{
        width: 200px;
        height: 200px;
    }
    .icones p{
        font-weight: 700;
        font-size: 13px;
    }
    
  }
